<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   </h3>Student Name: {{ student.first_name }} {{ student.last_name}}</h3>
   <p>Email Id: {{ student.email_id }}</p>  
   <p>Phone No: {{ student.phone_number }}</p>
   <p> {{ student.student_gender }}</p>
   <p> {{ student.student_address }}</p>
   {% for department in student.students_departments.all %}
   <em> {{ department }}</em>
   {% endfor %}
   <p> {{ student.date_of_birth }}</p>
</body>

</html>